body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  background-color: rgba(255, 166, 0, 0.384);
   min-height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("mlogo.jpg") no-repeat center center / cover;
    color: #eee;
}

@media (max-width: 600px) {
  body {
    background-position: top;}
  }
  

h2 {
  margin-bottom: 15px;
  font-size: 24px;
  text-align: center;
}

.history-box {
  border: 1px solid orange;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.history-box h4 {
  margin: 0 0 8px 0;
  font-size: 18px;
}

.history-box p {
  margin: 4px 0;
  font-size: 16px;
  word-wrap: break-word;
}

/* clear btn */
#clearHistoryBtn {
  background: crimson;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 15px;
  transition: 0.2s ease;
}

#clearHistoryBtn:hover {
  background: darkred;
  transform: scale(1.05);
}


/* --- MEDIA QUERIES --- */
@media (max-width: 600px) {
  h2 { font-size: 20px; }
  .history-box h4 { font-size: 16px; }
  .history-box p { font-size: 14px; }
  .history-box { padding: 10px; }
}
